.container {
  grid-template-areas:
      "header"
      "nav"
      "content"
      "side"
      "footer";

  grid-template-columns: 1fr;
  grid-template-rows:
      auto /* Header */
      minmax(75px, auto) /* Nav */
      1fr /* Content */
      minmax(75px, auto) /* Sidebar */
      auto; /* Footer */
}

header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  grid-area: nav;
}

main {
  grid-area: content;
  max-width: 800px;
  margin: auto;
}

aside {
  grid-area: side;
  margin-right: 0.5rem;
}

footer {
  grid-area: footer;
}

@media (max-width: 768px) {

  nav, aside {
    margin: 0;
  }
}
